h1{
    color: brown;
}

img {
    width: 400px;
}

#thirdDiv{
    width: 500px;
    height: 800px;
    background-color: brown;
    padding: 50px;
    border: darkred 3px solid;
}

#spanId {
   font-size: 40px;
   margin: 50px;
}